<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.guiadoapostador.apostador"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.7.0" />

        <name>Guia do Apostador</name>

        <description>
        Aplicativo que auxiliará nas apostas de loterias
        </description>

        <author href="http://yoursite.com" email="sergioprates.student@gmail.com">
       Sergio
        </author>
      <gap:plugin name="org.apache.cordova.device" />
      <gap:plugin name="io.litehelpers.cordova.sqlitestorage" version="0.7.5" />
    </widget>