<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.guiadoapostador.apostador"
    version     = "1.0.0"
    versionCode = "10" >

  <!-- versionCode is optional and Android only -->

  <name>Guia do Apostador</name>
  <preference name="SplashScreenDelay" value="10000" />
  <preference name="fullscreen" value="true" />
  <preference name="phonegap-version" value="3.7.0" />
  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="android-targetSdkVersion" value="17" />
  <preference name="android-minSdkVersion" value="7" />
  

  <description>
    Aplicativo que auxiliará nas apostas de loterias
  </description>

  <author href="http://yoursite.com" email="sergioprates.student@gmail.com">
    Sergio
  </author>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>


  <icon src="res/logo.png" />
  <gap:splash src="res/screen/android/splash.png" />
  <platform name="android">    
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/screen/android/splash.png" density="land-hdpi"/>
    <splash src="res/screen/android/splash.png" density="land-ldpi"/>
    <splash src="res/screen/android/splash.png" density="land-mdpi"/>
    <splash src="res/screen/android/splash.png" density="land-xhdpi"/>
    <splash src="res/screen/android/splash.png" density="port-hdpi"/>
    <splash src="res/screen/android/splash.png" density="port-ldpi"/>
    <splash src="res/screen/android/splash.png" density="port-mdpi"/>
    <splash src="res/screen/android/splash.png" density="port-xhdpi"/>
  </platform>





<!--Plugins-->
  <gap:plugin name="org.apache.cordova.device" version="0.2.12"/>
  <gap:plugin name="io.litehelpers.cordova.sqlitestorage" version="0.7.5" />
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
  <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />
  <gap:plugin name="nl.x-services.plugins.toast" version="2.0.2" />
  <gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.6.4" />
  <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
  <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
  <!--<gap:plugin name="com.ionic.keyboard" version="1.0.3" />-->
</widget>