<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.guiadoapostador.software"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.7.0" />

        <name>GuiaDoApostador</name>

        <description>
        Guia de Apostas
        </description>

        <author href="http://yoursite.com" email="sergioprates.student@gmail.com">
        Sergio Prates dos Santos
        </author>
        <gap:plugin name="org.apache.cordova.device" />
        <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
        
    </widget>