<html ng-app="guiadoapostador">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Guia do Apostador</title>
    <link href="frameworks/ionic/css/ionic.css" rel="stylesheet" />
    <script type="text/javascript" src="frameworks/ionic/js/ionic.bundle.min.js"></script>
    <script src="js/scripts/lodash.js"></script>
    <script type="text/javascript" src="js/index.js"></script>



    <!--Plugins-->
    <script src="js/Plugins/ng-cordova.js"></script>
    <script src="js/Plugins/cordova.js"></script>
    <script src="js/Plugins/SQLitePlugin.js"></script>
    <script src="js/Plugins/sqlite.js"></script>
    <script src="js/Plugins/splashscreen.js"></script>
    <script src="js/Plugins/toastOriginal.js"></script>
    <script src="js/Plugins/toast.js"></script>
    <script src="js/Plugins/PushNotification.js"></script>
    <script src="js/Plugins/pushNgCordova.js"></script>
    <!--FimPlugins-->

    <script src="js/Services/ionicServices.js"></script>
    <script src="js/Services/generalServices.js"></script>


    <!--Factorys-->
    <script src="js/Factorys/repositoryFactory.js"></script>
    <script src="js/Factorys/apostasFactory.js"></script>
    <script src="js/Factorys/dezenasFactory.js"></script>
    <script src="js/Factorys/bilheteFactory.js"></script>
    <script src="js/Factorys/timeDoCoracaoFactory.js"></script>
    <!--Fim Factorys-->
    <!--Controllers-->
    <script src="js/Controllers/homeController.js"></script>
    <script src="js/Controllers/minhasApostasController.js"></script>
    <script src="js/Controllers/selecionarLoteriaParaApostarController.js"></script>
    <script src="js/Controllers/cadastrarApostaController.js"></script>
    <!--FimControllers-->
    <!--Diretivas-->
    <script src="js/Directives/utilDirectives.js"></script>
    <!--Fim Diretivas-->
    <!--Routes-->
    <script src="js/Routes/guiaDoApostadorRoutes.js" type="text/javascript"></script>
    <!--FimRoutes-->
</head>
<body>
    <ion-nav-bar class="bar-balanced nav-title-slide-ios7" align-title="center">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view class="slide-left-right"></ion-nav-view>
    <script id="home.html" type="text/ng-template">
        <ion-view title="Guia do Apostador" ng-controller="homeController" hide-back-button="true">
            <ion-content class="padding">
                <!-- The content of the page -->
                <button class="button button-block button-balanced" ui-sref="minhasApostas">
                    Minhas Apostas
                </button>
                <button class="button button-block button-positive">
                    Push!
                </button>

                <div class="list">
                    <label class="item item-input">
                        <input type="text" ng-model="regID" placeholder="Bla" ng-click="registrarPush()" />
                    </label>
                    <a ng-repeat="item in items" href="#/{{item.id}}" class="item item-thumbnail-left">
                        <img ng-src="{{ item.image }}">
                        <h2>{{ item.loteria }}</h2>
                        <h4>Concurso: {{ item.concurso }}</h4>
                        <h4>Prêmio: {{ item.premio }}</h4>
                        <h4>Ocorre em: {{ item.proximoSorteio }}</h4>
                    </a>
                </div>
            </ion-content>
        </ion-view>
    </script>

</body>
</html>
