<!-- The title of the ion-view will be shown on the navbar -->
<ion-view title="Cadastrar Aposta" ng-controller="cadastrarApostaController">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="apostar()">
            <i class="icon ion-ios-filing"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <!-- The content of the page -->
        <div class="card">

            <div class="item item-avatar">
                <img ng-src="{{loteria.image}}">
                <h2>{{loteria.Nome}}</h2>
                <br />
                <label class="item item-input">
                    <input type="text" required="required" ng-model="aposta.Loteria.ID" placeholder="Digite o Concurso" numbers-only="Apenas números">
                </label>
            </div>
        </div>
        <div id='dadosAposta' class="list card" ng-show="loteriaComum == 1">
            <div class='row responsive-sm' style="text-align:center" ng-repeat="linha in linhas">
                <div class='col'>
                    <label class='checkbox' style='text-align:center' ng-repeat="checkbox in linha.CheckBoxes">
                        <input type='checkbox' value={{checkbox.Value}} ng-model="checkbox.Checked" ng-click="validaQuantidadeDezenas(this)"> {{checkbox.Value}}
                    </label>
                </div>
            </div>
        </div>
        <div id='dadosApostaFederal' class="list card" ng-show="loteriaFederal == 1">
            <label class="item item-input">
                <input type="text" ng-model="aposta.numeroBilhete" placeholder="Digite o número do bilhete.">
            </label>
        </div>
    </ion-content>
</ion-view>