
<!-- The title of the ion-view will be shown on the navbar -->
<ion-view title="Minhas Apostas" ng-controller="minhasApostasController">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="selecionarLoteriaParaApostar">
            <i class="icon ion-android-add-circle"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="padding" >
        <div class="card" ng-show="apostas.length == 0" ui-sref="selecionarLoteriaParaApostar">
            <div class=" item item-text-wrap">
            Ainda n&atilde;o  apostou? Selecione o bot&atilde;o <i class="icon ion-android-add-circle"></i> no topo do app
            para aumentar suas chances de ganhar!
        </div>
        </div>
        <button class="button button-block button-balanced" ng-show="apostas.length > 0" ng-click="buscarResultados()">
            Atualizar
        </button>
        <div class="list" ng-show="apostas.length > 0">
            <a ng-repeat="item in apostas track by item.idAposta" on-swipe-right="showConfirm(item)" ui-sref="cadastrarAposta" ng-click="setaIdEdicao('{{ item.idAposta }}', '{{item.TipoConcurso}}')" class="item item-thumbnail-left item-icon-right">
                <img ng-src="{{ item.ImagemLoteria }}">
                <h2>{{ item.Nome}} </h2>
                <h4>Concurso: {{ item.idConcurso }}</h4>
                <h4 ng-show="item.Dezenas != undefined && item.Dezenas.length > 0">Dezenas: {{ item.Dezenas.toString() }}</h4>
                <h4 ng-show="item.numeroBilhete != undefined">N&uacute;mero Bilhete: {{ item.numeroBilhete }}</h4>
                <h4 ng-show="item.TipoConcurso == 'Timemania'">Time do Cora&ccedil;&atilde;o: {{item.time}}</h4>
                <h4 ng-show="item.Verificado == 0">Aguardando sorteio</h4>
                <h4 ng-show="item.Verificado == 1">Conferido</h4>
            </a>
            
        </div>
    </ion-content>
</ion-view>